.question-container img {
    height: 4em;
}

.question-container ul {
    padding: 0;
}

.question-container li {
    position: relative;
    list-style: none;
    padding: .5em 0;

    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.question-container li:has(input[type="checkbox"], input[type="radio"]) {
    gap: 1em;
}

input[type="checkbox"], input[type="radio"] {
    height: 1em;
    width: 1em;
}

input:hover {
    cursor: pointer;
}
