.drag-drop {
    display: flex;
    flex-flow: row wrap;
    gap: 5em;
}

.drag-container,
.drop-container {
    display: grid;
    grid-template-columns: 7.5em 7.5em;
    grid-template-rows: 1fr 1fr;
    gap: 1em;
    place-items: center;
}

.drag-container > .drag img {
    height: auto;
}

.drop-container > .drop img {
    height: 4em;
}
