body {
  height: 100vh;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;

  background-image: url("../src/assets/images/cool-background.png");
  background-repeat: no-repeat;
  background-size: cover;
}
